/*-----------------------CSS STYLE MAIN-------------------------*/

@font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Rubik-Light.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #333;
    font-family: "Rubik", sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 20%;
}

h3 {
    color: #fff;
    text-align: center;
   font-style: italic; ;
}